In [1]:
import pickle
import pandas as pd
import matplotlib.pyplot as plt

In [63]:
data = pd.read_pickle("C:/Users/Anika/Documents/Master/Ludwigshafen/3. Semester WS1819/ABB Küppers Projekt/ABB_Data/event_ano_forstudents.pkl")

data

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
0,2016-07-04 16:19:35,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
1,2016-07-04 16:19:35,10017,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
2,2016-07-04 16:19:35,10016,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
3,2016-07-04 16:19:34,10015,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
4,2016-07-04 16:19:34,10012,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
5,2016-07-04 16:19:34,10011,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
6,2016-07-04 16:19:33,10017,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
7,2016-07-04 16:19:33,10016,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
8,2016-07-04 16:19:32,40168,Program,Warning,NaN,NaN,line_0,cell_0,robot_0
9,2016-07-04 16:19:32,134010,Paint,Error,NaN,NaN,line_0,cell_0,robot_0
10,2016-07-04 16:19:26,10129,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
11,2016-07-04 16:19:22,10150,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
12,2016-07-04 16:19:22,10002,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
13,2016-03-02 21:13:06,10125,Operational,Information,NaN,NaN,line_1,cell_1,robot_1
14,2016-03-02 21:09:53,50024,Motion,Warning,NaN,NaN,line_1,cell_1,robot_1
15,2016-03-02 21:08:33,50024,Motion,Warning,NaN,NaN,line_1,cell_1,robot_1
16,2016-03-02 21:07:11,50024,Motion,Warning,NaN,NaN,line_1,cell_1,robot_1
17,2016-07-04 16:19:22,10155,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
18,2016-07-04 16:19:22,10015,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
19,2016-07-04 16:19:22,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
20,2016-07-04 16:19:21,71201,IOCommunication,Error,NaN,NaN,line_0,cell_0,robot_0
21,2016-07-04 16:19:21,10045,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
22,2016-07-04 16:18:48,10122,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
23,2016-07-04 16:18:48,50024,Motion,Warning,NaN,NaN,line_0,cell_0,robot_0
24,2016-07-04 16:18:27,10151,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
25,2016-07-04 16:18:27,10053,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
26,2016-07-04 16:18:27,10052,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
27,2016-07-04 16:18:25,10002,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
28,2016-07-04 16:17:51,10122,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
29,2016-07-04 16:17:50,50024,Motion,Warning,NaN,NaN,line_0,cell_0,robot_0
...,...,...,...,...,...,...,...,...,...
3981334,2016-07-29 08:45:38,10156,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981335,2016-07-29 08:45:38,10053,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981336,2016-07-29 08:45:37,10052,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981337,2016-07-29 08:14:41,10125,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981338,2016-07-29 06:11:41,10270,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981339,2016-07-29 06:10:37,10271,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981340,2016-07-29 06:10:35,10156,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981341,2016-07-29 06:10:35,10053,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981342,2016-07-29 06:10:35,10052,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981343,2016-07-29 02:59:39,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981344,2016-07-29 02:59:38,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981345,2016-07-29 02:59:38,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981346,2016-07-30 03:09:05,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981347,2016-07-30 03:09:03,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981348,2016-07-30 03:09:03,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981349,2016-07-30 03:09:54,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981350,2016-07-30 03:09:53,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981351,2016-07-30 03:09:53,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981352,2016-07-30 02:59:39,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981353,2016-07-30 02:59:38,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981354,2016-07-30 02:59:38,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981355,2016-07-31 03:09:07,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981356,2016-07-31 03:09:03,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981357,2016-07-31 03:09:03,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981358,2016-07-31 03:09:55,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981359,2016-07-31 03:09:54,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981360,2016-07-31 03:09:54,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981361,2016-07-31 02:59:39,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981362,2016-07-31 02:59:38,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981363,2016-07-31 02:59:38,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_188

In [65]:
#split an_robot column um nur die Robotnr zu bekommen
data['rob1'], data['robnr1'] = data['an_robot'].str.split('_', 1).str

del data['rob1']

data

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot,robnr1
0,2016-07-04 16:19:35,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
1,2016-07-04 16:19:35,10017,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
2,2016-07-04 16:19:35,10016,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
3,2016-07-04 16:19:34,10015,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
4,2016-07-04 16:19:34,10012,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
5,2016-07-04 16:19:34,10011,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
6,2016-07-04 16:19:33,10017,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
7,2016-07-04 16:19:33,10016,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
8,2016-07-04 16:19:32,40168,Program,Warning,NaN,NaN,line_0,cell_0,robot_0,0
9,2016-07-04 16:19:32,134010,Paint,Error,NaN,NaN,line_0,cell_0,robot_0,0
10,2016-07-04 16:19:26,10129,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
11,2016-07-04 16:19:22,10150,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
12,2016-07-04 16:19:22,10002,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
13,2016-03-02 21:13:06,10125,Operational,Information,NaN,NaN,line_1,cell_1,robot_1,1
14,2016-03-02 21:09:53,50024,Motion,Warning,NaN,NaN,line_1,cell_1,robot_1,1
15,2016-03-02 21:08:33,50024,Motion,Warning,NaN,NaN,line_1,cell_1,robot_1,1
16,2016-03-02 21:07:11,50024,Motion,Warning,NaN,NaN,line_1,cell_1,robot_1,1
17,2016-07-04 16:19:22,10155,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
18,2016-07-04 16:19:22,10015,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
19,2016-07-04 16:19:22,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
20,2016-07-04 16:19:21,71201,IOCommunication,Error,NaN,NaN,line_0,cell_0,robot_0,0
21,2016-07-04 16:19:21,10045,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
22,2016-07-04 16:18:48,10122,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
23,2016-07-04 16:18:48,50024,Motion,Warning,NaN,NaN,line_0,cell_0,robot_0,0
24,2016-07-04 16:18:27,10151,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
25,2016-07-04 16:18:27,10053,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
26,2016-07-04 16:18:27,10052,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
27,2016-07-04 16:18:25,10002,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
28,2016-07-04 16:17:51,10122,Operational,Information,NaN,NaN,line_0,cell_0,robot_0,0
29,2016-07-04 16:17:50,50024,Motion,Warning,NaN,NaN,line_0,cell_0,robot_0,0
...,...,...,...,...,...,...,...,...,...,...
3981334,2016-07-29 08:45:38,10156,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981335,2016-07-29 08:45:38,10053,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981336,2016-07-29 08:45:37,10052,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981337,2016-07-29 08:14:41,10125,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981338,2016-07-29 06:11:41,10270,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981339,2016-07-29 06:10:37,10271,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981340,2016-07-29 06:10:35,10156,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981341,2016-07-29 06:10:35,10053,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981342,2016-07-29 06:10:35,10052,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981343,2016-07-29 02:59:39,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981344,2016-07-29 02:59:38,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981345,2016-07-29 02:59:38,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981346,2016-07-30 03:09:05,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_183,183
3981347,2016-07-30 03:09:03,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_183,183
3981348,2016-07-30 03:09:03,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_183,183
3981349,2016-07-30 03:09:54,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_187,187
3981350,2016-07-30 03:09:53,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_187,187
3981351,2016-07-30 03:09:53,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_187,187
3981352,2016-07-30 02:59:39,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981353,2016-07-30 02:59:38,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981354,2016-07-30 02:59:38,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981355,2016-07-31 03:09:07,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_183,183
3981356,2016-07-31 03:09:03,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_183,183
3981357,2016-07-31 03:09:03,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_183,183
3981358,2016-07-31 03:09:55,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_187,187
3981359,2016-07-31 03:09:54,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_187,187
3981360,2016-07-31 03:09:54,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_187,187
3981361,2016-07-31 02:59:39,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981362,2016-07-31 02:59:38,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188
3981363,2016-07-31 02:59:38,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_188,188